.cart-container {
    padding: 20px;
}

.cart-box {
    border: #ccc 1px solid;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.cart-container h3 {
    padding: 20px;
    color: #2d3436;
}

.cart-container p {
    font-size: 50px;
    color: #ccc;
    text-transform: uppercase;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.cart-container h2 {
    color: black;
}

.cart-box h3 {
    color: gray;
}

.remove-cart button {
    background-color: red;
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-cart button:hover {
    background-color: transparent;
    color: red;
    border: 1px solid red;
}

.total-box {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: right;
    padding: 20px;
}

.total-box h1 {
    color: #2d3436;
}

.tot-amt {
    color:dodgerblue;
    border: 1px solid #ccc;
    width: 200px;
    text-align: right;
    padding: 5px 10px;
}