header{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

header img{
    width: 50px;
}

header h1{
    color: black;
    cursor: pointer;
    font-weight: 500;
}