.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.box {
    border: 1px solid #ccc;
    width: 200px;
    height: 280px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.detail {
    padding: 10px;
}

.detail h3 {
    color: black;
    font-weight:bolder;
    margin-bottom: 12px;
}

.detail .add-to-cart,
.detail .remove-from-cart {
    padding: 5px 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.detail .add-to-cart {
    background-color: dodgerblue;
    color:black;
}

.detail .remove-from-cart {
    background-color: red;
    color: white;
}

.detail .add-to-cart:hover {
    background-color: transparent;
    border: black 1px solid;
    color: rgb(1, 119, 236);
}

.detail .remove-from-cart:hover {
    background-color: transparent;
    border: red 1px solid;
    color: red;
}
